 @{
    // Layout = "~/Views/Shared/_LibraryReferences.cshtml";

    Layout = "~/Views/Shared/Client/_ClientLayout.cshtml";

     
        // Layout = "~/Areas/Client/Views/Shared/_ClientnavarLayout.cshtml";

    // Layout = "~/Views/Shared/Client/_Clientnavar.cshtml";
    
}  
 

<h1>welocme our team is working on it </h1>
